
////////////////   Variables  /////////////////////

$primary:rgb(247, 241, 233);
$secondary:  rgb(137, 163, 147); 
$success: rgb(44, 57, 39); 
$carousel-control-color: $success;
$carousel-control-opacity: .7;
$carousel-control-hover-opacity: 1;



/////////////////////////////////////////////
@import "../bootstrap/scss/bootstrap";



body {
    background-color: $primary;
    background-image: url(../images/background4.jpg);
    background-position: center; 
    background-size: cover; 

    
}



header{
    background-color: rgba($secondary, 0.5);
    .row{
        --bs-gutter-x: 0rem;
    }
}
section{
    .titulo{
      
        position: absolute;
        top: 5%;
        
        z-index: 100;
        background-color: rgba($secondary, 0.5);
        border-radius: 2%;
        
       
        h1{
            text-align: center;
            color: ($success);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
  img{
    margin-bottom: 10px;
    } 
    .imagen{
        width: 100%;
        border-radius: 2%;
    } 

    .btn-primary {
        color: #000;
        background-color: transparent;
        border-color:  $secondary;
    }
}


footer{
    background-color: rgba($secondary, 0.5);
    
    

    p{
        color: $success;
        font-size: 12px;  
        
    }

}  
